.drop-zone {
    text-align: center;
    border: 2px dashed black;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.dragging-reject {
    color: red;
    border-color: red;
}

.dragging-accept {
    color: green;
    border-color: green;
}

html, body {
    height: 100%;
}

input.ng-invalid.ng-touched {
    border-color: red;
  }

input.ng-valid.ng-touched {
    border-color: green;
  }
  
/** File list ====> */

.file-list {
    margin: 0 auto;
    width: 60%;
    overflow-y: auto;
    max-height: 40%;
}

.file-list li {
    cursor: pointer;
}

.file-list li a i {
    margin-right: 10px;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 2.5em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}

.file-selected a{
    background: #faf;
}
.file-selected a:hover{
    background: #ecf;
}

/*** <==== File list */

.file-stats {
    position: relative;
}